<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Butterfly</vendor>
  <action id="so.butterfly.pond.install">
    <description>Manage system packages</description>
    <message>Authentication is required to install or remove software</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <!-- Cache only Pacman's action, never the generic pkexec action. -->
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pacman</annotate>
  </action>
</policyconfig>
